.errorUsuario {
    display: block;
    width: 100%;
    background: rgb(202, 49, 49);
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
}

.errorUsuario span {
    color: aliceblue;
    font-weight: bold;
}

.notError {
    display: none;
}

